numpy>=1.14.2
opencv-python==3.4.0.12
scipy>=1.1.0
matplotlib>=2.2.2
jinja2>=2.10
pandas>=0.23.1
imgaug==0.2.6
six>=1.12.0
s3fs>=0.2.0
h5py>=2.8.0
pyyaml>=3.13
pillow
tqdm
pypeln
fire
cytoolz
packaging
requests
tensorflow-serving-api-gpu
pyarrow
albumentations